@import "tailwindcss";

* {
  @apply m-0;
}

html, canvas {
  @apply h-full;
}

body {
  @apply bg-[#121212] h-screen;
}

canvas {
  @apply fixed top-0 left-0 w-full h-full z-[-1];
}

body {
  @apply bg-gradient-to-b from-slate-950 to-blue-950 text-white h-screen
}

h1 {
  @apply italic text-4xl font-bold opacity-100
}

p {
  @apply text-lg
}

.paragraph {
  @apply p-5
}

.card {
  @apply justify-self-center mb-20 pt-10 pb-5 m-11 w-3/4 h-full bg-gradient-to-t from-slate-900 to-blue-950 rounded-3xl text-center opacity-75
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.neon {
  @apply font-bold text-[9vw] leading-[9vw] text-yellow-400 opacity-100;
  text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
  animation: neon-glow 1s ease-in-out infinite alternate;
  font-family: neon;
}

.flux {
  @apply font-bold text-[9vw] leading-[9vw] text-cyan-400 opacity-100;
  text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
  animation: flux-glow 1.5s ease-in-out infinite alternate;
  font-family: neon;
}

@keyframes neon-glow {
  0% {
    text-shadow: 0 0 0.8vw #FA1C16, 0 0 2.5vw #FA1C16, 0 0 7vw #FA1C16, 0 0 7vw #FA1C16, 0 0 .3vw #FED128, .4vw .4vw .1vw #806914;
  }
  100% {
    text-shadow: 0 0 1vw #800E0B, 0 0 3vw #800E0B, 0 0 9vw #800E0B, 0 0 9vw #800E0B, 0 0 .2vw #800E0B, .4vw .4vw .1vw #40340A;
  }
}

@keyframes flux-glow {
  0% {
    text-shadow: 0 0 0.8vw #1041FF, 0 0 2.5vw #1041FF, 0 0 7vw #1041FF, 0 0 7vw #1041FF, 0 0 .3vw #8BFDFE, .4vw .4vw .1vw #147280;
  }
  100% {
    text-shadow: 0 0 1vw #082180, 0 0 3vw #082180, 0 0 9vw #082180, 0 0 9vw #082180, 0 0 .2vw #082180, .4vw .4vw .1vw #0A3940;
  }
}
